@using CMS.DocumentEngine
@using CMS.DocumentEngine.Types
@using CCC.Helpers

@model CMS.DocumentEngine.Types.Page

@{
    Layout = "~/Views/_Default.cshtml";
    ViewBag.PageTitle = "Messages";
}

@*Page Sections & Series*@
@{
    //Get Page
    var page = PageProvider.GetPage("/Pages/Messages", SiteHelpers.SiteCulture, SiteHelpers.SiteName).FirstOrDefault();

    //Process Each Section
    foreach (var sect in page.Sections)
    {
        Html.RenderAction("Index", "PageSection", new { section = sect });
    }

    //Get Series
    var series = SeriesProvider.GetSeries().Path(Series.SERMONS_PATH, PathTypeEnum.Children).Published().OrderBy(DatabaseHelpers.OrderByCmsTree);

    //Get Special Events
    var specialEvents = SermonProvider.GetSermons().Path(Series.SPECIAL_EVENTS_PATH, PathTypeEnum.Children).Published().OrderBy(DatabaseHelpers.OrderByCmsTree);
}

<a name="weekend-messages"></a>
<div class="[ content-section transparent ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="section-title">Weekend Messages</div>
        <div class="section-description">Miss a weekend? Want to hear a message again? Look no further.</div>

        <div class="grid"><!--
            @{
                //Render Cross Sell Items
                foreach (var s in series)
                {
                    //Get Linked Page Type
                    if (s.ClassName == Series.CLASS_NAME)
                    {
                        Html.RenderAction("CrossSell", "MessageSeries", new { guid = s.NodeGUID, title = s.Fields.Title, description = "" });
                    }
                }
            }
     --></div>

        <div class="section-description">
            <a class="cta auto" href="https://vimeo.com/ccchapel/channels" target="_blank">Archives</a>
        </div>
    </div>
</div>

<a name="special-events"></a>
<div class="[ content-section light-gray ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="section-title">Special Events</div>

        <div class="grid">
            <!--
                   @{
                       //Render Cross Sell Items
                       foreach (var s in specialEvents)
                       {
                           //Get Linked Page Type
                           if (s.ClassName == Sermon.CLASS_NAME)
                           {
                               Html.RenderAction("CrossSell", "Message", new { guid = s.NodeGUID, title = s.Fields.MessageTitle, description = "" });
                           }
                       }
                   }
            -->
        </div>
    </div>
</div>