@using CMS.DocumentEngine
@using CMS.DocumentEngine.Types
@using CCC.Helpers

@model CMS.DocumentEngine.Types.Page

@{
    Layout = "~/Views/_Default.cshtml";
    ViewBag.PageTitle = "Messages";
}

@*Page Sections & Series*@
@{
    //Get Page
    var page = PageProvider.GetPage("/Pages/Messages", SiteHelpers.SiteCulture, SiteHelpers.SiteName).FirstOrDefault();

    //Process Each Section
    foreach (var sect in page.Sections)
    {
        Html.RenderAction("Index", "PageSection", new { section = sect });
    }

    //Get Series
    var series = SeriesProvider.GetSeries().Path(Series.SERMONS_PATH, PathTypeEnum.Children).Published().OrderBy(DatabaseHelpers.OrderByCmsTree);

    //Get Special Events
    var specialEvents = SermonProvider.GetSermons().Path(Series.SPECIAL_EVENTS_PATH, PathTypeEnum.Children).Published().OrderBy(DatabaseHelpers.OrderByCmsTree);

    //Get Miscellaneous
    var miscellaneous = SermonProvider.GetSermons().Path(Series.MISCELLANEOUS_PATH, PathTypeEnum.Children).Published().OrderBy(DatabaseHelpers.OrderByCmsTree);
}

<a name="weekend-messages"></a>
<div class="[ content-section transparent ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="section-title">Weekend Messages</div>
        <div class="section-description">Miss a weekend? Want to hear a message again? Look no further.</div>

        <div class="grid"><!--
            @{
                //Render Cross Sell Items
                foreach (var s in series)
                {
                    //Get Linked Page Type
                    if (s.ClassName == Series.CLASS_NAME)
                    {
                        Html.RenderAction("CrossSell", "MessageSeries", new { guid = s.NodeGUID, title = s.Fields.Title, description = "" });
                    }
                }
            }
     --></div>

        <div class="section-description">
            <a class="cta auto" href="https://vimeo.com/ccchapel/channels" target="_blank">Archives</a>
        </div>
    </div>
</div>

<a name="special-events"></a>
<div class="[ content-section light-gray ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="section-title add-bottom-margin">Special Events</div>

        <div class="grid">
            <!--
                   @{
                       //Render Cross Sell Items
                       foreach (var s in specialEvents)
                       {
                           //Get Linked Page Type
                           if (s.ClassName == Sermon.CLASS_NAME)
                           {
                               Html.RenderAction("CrossSell", "Message", new { guid = s.NodeGUID, title = s.Fields.MessageTitle, description = "" });
                           }
                       }
                   }
            -->
        </div>
    </div>
</div>

<a name="miscellaneous"></a>
<div class="[ content-section transparent ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="section-title add-bottom-margin">Miscellaneous</div>

        <div class="grid">            
            <!--
               @{
                   //Render Cross Sell Items
                   foreach (var s in miscellaneous)
                   {
                       //Get Linked Page Type
                       if (s.ClassName == Sermon.CLASS_NAME)
                       {
                           Html.RenderAction("CrossSell", "Message", new { guid = s.NodeGUID, title = s.Fields.MessageTitle, description = "" });
                       }
                   }
               }
            -->
        </div>
    </div>
</div> 

<a name="right-now-media"></a>
<div class="[ content-section light-blue ] [ grid__item one-whole ]">
    <div class="flex-section reverse palm--stack palm--no-reverse">
        <div class="[ flex-section-bg left-center palm--center-center contain ] [ one-half palm--one-whole ] [ content-wrapper no-vertical ]"
             style="background-image: url(/getattachment/13238144-3084-4a85-9663-9ef0ef444bf3/RNM_logo_White_transparent-min.png); background-size: contain">&nbsp;</div>

        <div class="one-half palm--one-whole">
            <div class="content-wrapper right-justify no-mobile palm--left-justify">
                <p>
                    There are so many good resources out there, and we want to make sure you have access to as many as possible. That&rsquo;s why we&rsquo;ve
                    partnered with Right Now Media to bring you access to over 10,000 Bible study videos and other online resources for you and everyone in
                    your family.
                </p>

                <div class="flex-section inline auto-height">
                    <a class="accent add-right-margin" href="http://go.ccchapel.com/rightnow" target="_blank">Request Access</a>
                    <a class="cta auto" href="https://www.rightnowmedia.org/" target="blank">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>