@using CMS.DocumentEngine.Types

<table class="jobs__table">
    <thead>
        <tr>
            <th class="one-whole">Job Title</th>
        </tr>
    </thead>

    <tbody>
        @{
            //Get Jobs
            var jobs = JobListingProvider.GetJobListings().Published().OrderBy(CCC.Helpers.DatabaseHelpers.OrderByCmsTree);

            if (jobs.Any())
            {
                foreach (JobListing job in jobs)
                {
                    <tr>
                        <td><a href="@job.RouteUrl">@job.JobTitle</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td><span class="accent"><i>Sorry, but there are no current job openings.</i></span></td>
                </tr>
            }
        }
    </tbody>
</table>
