.flex-section {
    height: 100%;

    @include flexbox; 
    @include flex-flow(row nowrap); 
    @include justify-content(space-between); 
    @include align-items(stretch); 
    @include align-content(stretch);

    &.reverse {
        @include flex-direction(row-reverse);
    }

    &.palm--stack {
        @include grid-media-query("palm") {
            @include flex-direction(column);

            &.reverse:not(.palm--no-reverse) {
                @include flex-direction(column-reverse);
            }

            .flex-section-bg {
                min-height: 33vh;

                

                &.content-wrapper {
                    min-height: calc(33vh + #{$vertical-padding});
                }
            }

            &.use-gutter > * {
                margin-right: 0 !important;
            }

            /* EDIT: 4.5 - Removed for mobile Safari browsing */
            /*& > * {
                height: 50%;
            }*/
        }   
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.center-content {
        @include align-content(center);
    }

    &.center-vertically {
        @include align-items(center);
    }

    &.inline {
        @include inline-flex();
        @include align-items(center);

        width: auto;
    }

    &.use-gutter > * {
        margin-right: $gutter;

        &:last-child {
            margin-right: 0;
        }
    }

    &.extra-small {
        $height: $height-extra-small;

        height: $height;

        @include grid-media-query("palm") {
            &.palm-stack {
                height: $height * 2;
            }
        }
    }

    &.small {
        $height: $height-small;

        height: $height;

        @include grid-media-query("palm") {
            &.palm-stack {
                height: $height * 2;
            }
        }
    }

    &.medium {
        $height: $height-medium;

        height: $height;

        @include grid-media-query("palm") {
            &.palm-stack {
                height: $height * 2;
            }
        }
    }

    &.large {
        $height: $height-large;
        
        height: $height;

        @include grid-media-query("palm") {
            &.palm-stack {
                height: $height * 2;
            }
        }
    }
    
    &.extra-large {
        $height: $height-extra-large;
        
        height: $height;

        @include grid-media-query("palm") {
            &.palm-stack {
                height: $height * 2;
            }
        }
    }

    & > center-center {
        @include flexbox;
        @include align-items(center);
    }
}
    
.flex-section-bg {
    //height: 100%;
    //width: 100%;
        
    background: transparent no-repeat scroll center center / cover;
    background-origin: content-box;

    height: initial;

    @include grid-media-query("palm") {
        background-origin: padding-box;
    }

    &.contain {
        background-size: contain;
    }

    &.left-center {
        background-position: left center;
    }

    &.right-center {
        background-position: right center;
    }

    &.palm--center-center {
        @include grid-media-query("palm") {
            background-position: center center;
        }
    }
}

.safari.mobile .flex-section-bg.full-height {
    height: 50% !important;
}