//**************************************************
// ADD MARGINS
//**************************************************/
.addBottomMargin,
.add-bottom-margin {
    margin-bottom: $magic-number;
}

.portable--add-bottom-margin {
    @include grid-media-query("portable") {
        margin-bottom: $magic-number;
    }
}

.palm--add-bottom-margin {
    @include grid-media-query("palm") {
        margin-bottom: $magic-number;
    }
}

//**************************************************
// REMOVE BOTTOM MARGIN
//**************************************************/
.no-bottom-margin {
    margin-bottom: 0 !important;
}

//**************************************************
// VERTICAL PADDING
//**************************************************/
.add-vertical-padding--top {
    margin-top: $vertical-padding;
}

//**************************************************
// HEIGHTS
//**************************************************/
.full-height {
    height: 100%;
    min-height: inherit
}

.height-small {
    $height: $height-small;
        
    min-height: $height;
        
    &--strict {
        height: $height;
            
        @include grid-media-query("palm") {
            height: $height * 2;
        }
    }
}

.height-medium {
    $height: $height-medium;
        
    min-height: $height;
        
    &--strict {
        height: $height;
            
        @include grid-media-query("palm") {
            height: $height * 2;
        }
    }
}

.height-large {
    $height: $height-large;
        
    min-height: $height;
        
    &--strict {
        height: $height;
            
        @include grid-media-query("palm") {
            height: $height * 2;
        }
    }
}

.height-extra-large {
    $height: $height-extra-large;
        
    min-height: $height;
        
    &--strict {
        height: $height;
            
        @include grid-media-query("palm") {
            height: $height * 2;
        }
    }
}

//**************************************************
// CENTER VERTICALLY
//**************************************************/
.center-vertically {
    @include flexbox;
    @include justify-content(center);   //align horizontal
    @include align-items(center);       //align vertical
    //@include flex-flow(column wrap);    //make each block a row
    //@include flex-direction(column);    

    height: 100%;
    min-height: inherit;
    
    width: 100%;

    &.left-justify {
        text-align: left;
        @include justify-content(flex-start);

        &--mobile {
            @include grid-media-query("portable") {
                text-align: left;

                @include justify-content(flex-start);
            }
        }
    }

    &.center {
        text-align: center;
        @include justify-content(center);
        @include align-items(center);

        &--mobile {
            @include grid-media-query("portable") {
                text-align: center !important;
                
                @include justify-content(center !important);
            }
        }
    }

    &.right-justify {
        text-align: right;
        @include justify-content(flex-end);

        &--mobile {
            @include grid-media-query("portable") {
                text-align: right;
                
                @include justify-content(flex-end);
            }
        }
    }

    &.alt {
        @include flex-flow(column wrap);
        
        & > * {
            width: 100%;
        }

        &.left-justify {
            @include align-items(flex-start);
            @include justify-content(center);
            
            text-align: left;
        }
    }

    &.palm--stack {
        @include grid-media-query("palm") {
            @include flex-flow(column wrap);
        }
    }
}

//**************************************************
// JUSTIFY CONTENT
//**************************************************/
.justify-content {
    @include flexbox; 
    @include flex-flow(row nowrap); 
    @include justify-content(space-between); 
    @include align-items(baseline); 
    @include align-content(flex-start);
}

@import "flex-section.scss";