.modal {
    position: fixed;
    display: none;
    z-index: 100;
    
    background: transparentize($charcoal, .1);

    padding: .5em 0;

    height: 100vh;
    width: 100vw;
    
    &.full {
        z-index: 1000;
    }
    
    &-close {
        background: $red;
        
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        
        cursor: pointer;
        
        height: 3rem;
        width: 3rem;
        
        color: #FFF;
        
        &:hover {
            background: $dark-red;
        }
    }
    
    &-content {
        padding-top: 6rem;

        height: 100%;
        width: 100%;

        .modal.full + & {
            padding-top: 0;
        }
    }
}