.dividing-line {
    &--left {
        border-left: 2px solid $medium-gray;
    
        position: relative;
    
        //Place line in grid gutter
        margin-right: -($gutter / 2);
        margin-left: ($gutter / 2);
    
        @include grid-media-query("portable") {
            border-right: none;
        
            margin-right: 0;
            margin-left: 0;
        }
    }

    &--right {
        border-right: 2px solid $medium-gray;
    
        position: relative;
    
        //Place line in grid gutter
        margin-right: -($gutter / 2);
        margin-left: ($gutter / 2);
    
        @include grid-media-query("portable") {
            border-right: none;
        
            margin-right: 0;
            margin-left: 0;
        }
    }
}