//**************************************************
// NOTIFICATIONS
//**************************************************/
.notifications {
    background-color: $green;

    &__item {
        height: 3em;

        color: #FFF;
        text-align: center;
    }
}