<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
    <symbol id="campus-icon--hudson" viewbox="0 0 113.8 113.8">
        <title>Hudson Campus</title>
        <g id="XMLID_116_">
            <circle id="XMLID_146_" class="st2 outter-circle" cx="56.9" cy="56.8" r="55" />
            <line id="XMLID_214_" class="st1" x1="56.9" y1="71.5" x2="56.9" y2="86.3" />
            <line id="XMLID_213_" class="st1" x1="56.9" y1="86.3" x2="56.9" y2="98" />
            <line id="XMLID_212_" class="st1" x1="62.6" y1="86.3" x2="51.2" y2="86.3" />
            <line id="XMLID_211_" class="st1" x1="42.9" y1="71.5" x2="42.9" y2="98" />
            <line id="XMLID_210_" class="st1" x1="71.2" y1="71.5" x2="71.2" y2="98" />
            <line id="XMLID_209_" class="st1" x1="37" y1="80.4" x2="48.4" y2="80.4" />
            <line id="XMLID_208_" class="st1" x1="51.2" y1="80.4" x2="62.7" y2="80.4" />
            <line id="XMLID_207_" class="st1" x1="65.4" y1="80.4" x2="76.8" y2="80.4" />
            <line id="XMLID_206_" class="st1" x1="37" y1="89" x2="48.4" y2="89" />
            <line id="XMLID_205_" class="st1" x1="65.4" y1="89" x2="76.8" y2="89" />
            <line id="XMLID_203_" class="st1" x1="98.7" y1="92.4" x2="92.2" y2="92.4" />
            <line id="XMLID_202_" class="st1" x1="95.5" y1="95.8" x2="92.2" y2="95.8" />
            <line id="XMLID_201_" class="st1" x1="96" y1="89" x2="96" y2="95.4" />
            <line id="XMLID_200_" class="st1" x1="92.2" y1="98.9" x2="92.2" y2="89" />
            <g id="XMLID_197_">
                <line id="XMLID_199_" class="st0" x1="56.9" y1="15.9" x2="56.9" y2="7.5" />
                <line id="XMLID_198_" class="st0" x1="54.7" y1="10.1" x2="59.1" y2="10.1" />
            </g>
            <line id="XMLID_196_" class="st1" x1="15.2" y1="92.4" x2="21.8" y2="92.4" />
            <line id="XMLID_195_" class="st1" x1="18.5" y1="95.8" x2="21.8" y2="95.8" />
            <line id="XMLID_194_" class="st1" x1="18" y1="89" x2="18" y2="95.4" />
            <line id="XMLID_193_" class="st1" x1="21.8" y1="98.9" x2="21.8" y2="89" />
            <line id="XMLID_192_" class="st1" x1="61.2" y1="54.4" x2="103.1" y2="54.4" />
            <line id="XMLID_191_" class="st1" x1="81.6" y1="71.5" x2="98.7" y2="71.5" />
            <polyline id="XMLID_190_" class="st1" points="32.2,71.5 15.2,71.5 15.2,54.4 52.6,54.4 	" />
            <line id="XMLID_189_" class="st1" x1="81.6" y1="100" x2="90.9" y2="100" />
            <line id="XMLID_188_" class="st1" x1="22.9" y1="100" x2="32.2" y2="100" />
            <line id="XMLID_187_" class="st1" x1="103.1" y1="63.3" x2="103.1" y2="69.4" />
            <line id="XMLID_186_" class="st1" x1="109.3" y1="63.3" x2="109.3" y2="69.4" />
            <line id="XMLID_185_" class="st1" x1="103.1" y1="66.3" x2="100.1" y2="66.3" />
            <line id="XMLID_184_" class="st1" x1="111.1" y1="66.3" x2="109.3" y2="66.3" />
            <circle id="XMLID_183_" class="st1" cx="106.2" cy="66.3" r="3.1" />
            <polyline id="XMLID_182_" class="st1" points="95.1,63.3 95.1,69.3 98.7,71.5 109.9,71.5 	" />
            <polyline id="XMLID_181_" class="st1" points="100.1,63.3 100.1,69.4 110.4,69.4 	" />
            <polyline id="XMLID_180_" class="st1" points="98.7,71.5 98.7,78.9 85.7,87.1 87,87.1 87,89 88.1,89 88.1,100 	" />
            <line id="XMLID_179_" class="st1" x1="107.3" y1="78.9" x2="98.7" y2="78.9" />
            <polyline id="XMLID_178_" class="st1" points="111.7,49.6 90.9,61.3 111.6,61.3 	" />
            <line id="XMLID_177_" class="st1" x1="102.8" y1="87" x2="87" y2="87" />
            <line id="XMLID_176_" class="st1" x1="101.3" y1="89" x2="88.1" y2="89" />
            <line id="XMLID_175_" class="st1" x1="6.7" y1="78.9" x2="15.2" y2="78.9" />
            <line id="XMLID_174_" class="st1" x1="11.1" y1="87" x2="27" y2="87" />
            <line id="XMLID_173_" class="st1" x1="12.7" y1="89" x2="25.9" y2="89" />
            <polyline id="XMLID_172_" class="st1" points="3.9,71.5 15.2,71.5 15.2,78.9 28.3,87.1 27,87.1 27,89 25.9,89 25.9,100 	" />
            <polyline id="XMLID_167_" class="st1" points="60.7,35 62.2,36.1 62.2,37.4 51.6,37.4 51.6,36.1 53.1,35 	" />
            <g id="XMLID_164_">
                <rect id="XMLID_57_" x="59" y="38.9" class="st0" width="1.4" height="8.2" />
                <rect id="XMLID_165_" x="53.4" y="38.9" class="st0" width="1.4" height="8.2" />
            </g>
            <line id="XMLID_393_" class="st1" x1="34.4" y1="73.5" x2="15.2" y2="73.5" />
            <line id="XMLID_394_" class="st1" x1="98.6" y1="73.5" x2="79.4" y2="73.5" />
            <polyline id="XMLID_163_" class="st1" points="61.2,37.4 61.2,38.9 52.6,38.9 52.6,37.4 	" />
            <g id="XMLID_151_">
                <polyline id="XMLID_155_" class="st0" points="79.4,71.5 79.4,98 76.8,98 76.8,71.5 		" />
                <polyline id="XMLID_154_" class="st0" points="65.3,71.5 65.3,98 62.6,98 62.6,71.5 		" />
                <polyline id="XMLID_153_" class="st0" points="51.1,71.5 51.1,98 48.5,98 48.5,71.5 		" />
                <polyline id="XMLID_152_" class="st0" points="37,71.5 37,98 34.4,98 34.4,71.5 		" />
            </g>
            <polygon id="XMLID_162_" class="st1" points="29.8,69.4 84,69.4 56.9,54.4 	" />
            <polyline id="XMLID_161_" class="st1" points="81.6,69.4 81.6,71.5 32.2,71.5 32.2,69.4 	" />
            <polyline id="XMLID_392_" class="st1" points="111.5,63.3 93,63.3 93,61.3 	" />
            <polygon id="XMLID_160_" class="st1" points="56.9,15.9 53.4,35 60.4,35 	" />
            <rect id="XMLID_159_" x="50.6" y="47.1" class="st1" width="12.5" height="2.2" />
            <g id="XMLID_156_">
                <line id="XMLID_158_" class="st1" x1="61.2" y1="56.6" x2="61.2" y2="49.3" />
                <line id="XMLID_157_" class="st1" x1="52.6" y1="49.3" x2="52.6" y2="56.6" />
            </g>
            <rect id="XMLID_150_" x="58.6" y="87.9" class="st1" width="2.5" height="7.2" />
            <rect id="XMLID_56_" x="52.6" y="87.9" class="st1" width="2.5" height="7.2" />
            <line id="XMLID_42_" class="st0" x1="58.6" y1="92.1" x2="61" y2="92.1" />
            <line id="XMLID_28_" class="st0" x1="52.6" y1="92.1" x2="55.1" y2="92.1" />
            <path id="XMLID_14_" class="st1" d="M76.8,108.1c-14.1-3.7-25.6-3.4-39.7,0" />
            <rect id="XMLID_204_" x="32.2" y="98" class="st1" width="49.4" height="4" />
            <line id="XMLID_395_" class="st1" x1="59.7" y1="49.3" x2="59.7" y2="55.9" />
            <line id="XMLID_396_" class="st1" x1="54.1" y1="49.3" x2="54.1" y2="55.9" />
            <line id="XMLID_397_" class="st1" x1="17.4" y1="54.4" x2="17.4" y2="64.5" />
            <line id="XMLID_398_" class="st1" x1="20.4" y1="61.3" x2="20.4" y2="71.4" />
            <line id="XMLID_399_" class="st1" x1="23.5" y1="54.4" x2="23.5" y2="62.3" />
            <line id="XMLID_400_" class="st1" x1="26.5" y1="64.5" x2="26.5" y2="71.4" />
            <line id="XMLID_401_" class="st1" x1="29.5" y1="54.4" x2="29.5" y2="61.3" />
            <line id="XMLID_402_" class="st1" x1="32.5" y1="54.4" x2="32.5" y2="64.5" />
            <line id="XMLID_404_" class="st1" x1="38.6" y1="54.4" x2="38.6" y2="61.3" />
            <line id="XMLID_403_" class="st1" x1="44.6" y1="56.1" x2="44.6" y2="61.2" />
            <line id="XMLID_408_" class="st1" x1="41.6" y1="54.4" x2="41.6" y2="57.8" />
            <line id="XMLID_407_" class="st1" x1="47.6" y1="54.4" x2="47.6" y2="57.8" />
            <line id="XMLID_406_" class="st1" x1="50.6" y1="54.4" x2="50.6" y2="56.1" />
            <line id="XMLID_418_" class="st1" x1="96.4" y1="54.4" x2="96.4" y2="56.1" />
            <line id="XMLID_417_" class="st1" x1="93.3" y1="54.6" x2="93.3" y2="56.1" />
            <line id="XMLID_416_" class="st1" x1="90.3" y1="54.4" x2="90.3" y2="58.7" />
            <line id="XMLID_415_" class="st1" x1="87.3" y1="61.3" x2="87.3" y2="71.4" />
            <line id="XMLID_414_" class="st1" x1="84.3" y1="54.4" x2="84.3" y2="61.3" />
            <line id="XMLID_413_" class="st1" x1="81.3" y1="54.4" x2="81.3" y2="64.5" />
            <line id="XMLID_412_" class="st1" x1="75.2" y1="54.4" x2="75.2" y2="61.3" />
            <line id="XMLID_411_" class="st1" x1="69.2" y1="54.4" x2="69.2" y2="59.5" />
            <line id="XMLID_410_" class="st1" x1="72.2" y1="59.5" x2="72.2" y2="63" />
            <line id="XMLID_409_" class="st1" x1="66.2" y1="54.4" x2="66.2" y2="57.8" />
            <line id="XMLID_405_" class="st1" x1="63.1" y1="54.4" x2="63.1" y2="56.1" />
        </g>
    </symbol>

    <symbol id="campus-icon--aurora" viewbox="0 0 113.8 113.8">
        <g id="XMLID_456_">
            <circle id="XMLID_465_" class="st2 outter-circle" cx="56.9" cy="56.8" r="55" />
            <polygon id="XMLID_349_" class="st1" points="73.1,38.5 73.1,35.9 56.9,23.9 40.7,35.9 40.7,38.5 56.9,26.5 	" />
            <polygon id="XMLID_357_" class="st1" points="32.1,61.7 32.1,59.1 9,41.7 9,44.4 	" />
            <line id="XMLID_381_" class="st1" x1="11.5" y1="52.4" x2="29.7" y2="66.1" />
            <polyline id="XMLID_359_" class="st1" points="11.5,60 2.8,63.5 2.8,66.2 11.5,62.7 	" />
            <line id="XMLID_372_" class="st0" x1="70.6" y1="71.6" x2="80.4" y2="71.6" />
            <line id="XMLID_373_" class="st0" x1="70.6" y1="77" x2="80.4" y2="77" />
            <line id="XMLID_374_" class="st0" x1="75.5" y1="66.2" x2="75.5" y2="81.9" />
            <polyline id="XMLID_360_" class="st1" points="28,56 43.1,49.8 43.1,47.1 25.7,54.2 	" />
            <line id="XMLID_377_" class="st0" x1="43.1" y1="71.6" x2="33.4" y2="71.6" />
            <line id="XMLID_376_" class="st0" x1="43.1" y1="77" x2="33.4" y2="77" />
            <line id="XMLID_375_" class="st0" x1="38.3" y1="66.2" x2="38.3" y2="81.9" />
            <polyline id="XMLID_363_" class="st1" points="102.3,60 111,63.5 111,66.2 102.2,62.7 	" />
            <polyline id="XMLID_350_" class="st1" points="70.6,36.8 70.6,85.9 43.1,85.9 43.1,36.8 	" />
            <g id="XMLID_348_">
                <polygon id="XMLID_353_" class="st0" points="51.4,48.6 49.6,56 56.3,56 56.3,48.6 		" />
                <rect id="XMLID_352_" x="51.5" y="42.4" class="st0" width="4.7" height="4.7" />
                <polygon id="XMLID_351_" class="st0" points="62.6,47.1 64.4,39.8 57.7,39.8 57.7,47.1 		" />
                <rect id="XMLID_354_" x="57.7" y="48.6" class="st0" width="4.7" height="4.7" />
            </g>
            <polyline id="XMLID_358_" class="st1" points="29.6,60 29.6,83.6 17.6,83.6 17.6,72 11.5,72 11.5,46.2 	" />
            <polygon id="XMLID_362_" class="st1" points="81.6,61.7 81.6,59.1 104.7,41.7 104.7,44.4 	" />
            <polyline id="XMLID_355_" class="st1" points="84.1,60 84.1,83.6 96.1,83.6 96.1,72 102.2,72 102.2,46.2 	" />
            <polyline id="XMLID_365_" class="st1" points="85.8,56 70.6,49.8 70.6,47.1 88.1,54.2 	" />
            <line id="XMLID_356_" class="st1" x1="29.6" y1="81.9" x2="43.1" y2="81.9" />
            <line id="XMLID_366_" class="st1" x1="7.9" y1="81.9" x2="17.6" y2="81.9" />
            <line id="XMLID_367_" class="st1" x1="96.1" y1="81.9" x2="105.9" y2="81.9" />
            <line id="XMLID_364_" class="st1" x1="70.6" y1="81.9" x2="84.1" y2="81.9" />
            <line id="XMLID_369_" class="st1" x1="43.1" y1="66.2" x2="70.6" y2="66.2" />
            <line id="XMLID_370_" class="st1" x1="51.8" y1="68.2" x2="70.6" y2="68.2" />
            <line id="XMLID_383_" class="st1" x1="60.2" y1="72.1" x2="70.6" y2="72.1" />
            <line id="XMLID_384_" class="st1" x1="43.1" y1="70.1" x2="62" y2="70.1" />
            <line id="XMLID_387_" class="st1" x1="51.8" y1="74.1" x2="70.6" y2="74.1" />
            <line id="XMLID_386_" class="st1" x1="56.9" y1="78" x2="70.6" y2="78" />
            <line id="XMLID_385_" class="st1" x1="43.1" y1="76" x2="56.9" y2="76" />
            <line id="XMLID_390_" class="st1" x1="43.1" y1="79.9" x2="54.9" y2="79.9" />
            <line id="XMLID_389_" class="st1" x1="43.1" y1="83.9" x2="58" y2="83.9" />
            <line id="XMLID_388_" class="st1" x1="51.8" y1="81.9" x2="70.6" y2="81.9" />
            <polyline id="XMLID_368_" class="st1" points="80.4,81.9 80.4,66.2 70.6,66.2 	" />
            <polyline id="XMLID_378_" class="st1" points="33.4,81.9 33.4,66.2 43.1,66.2 	" />
            <polyline id="XMLID_379_" class="st1" points="17.6,50.8 17.6,72 29.6,72 	" />
            <line id="XMLID_382_" class="st1" x1="102.3" y1="52.4" x2="84.1" y2="66.1" />
            <polyline id="XMLID_380_" class="st1" points="96.2,50.8 96.2,72 84.1,72 	" />
            <path id="XMLID_371_" class="st1" d="M24.7,102.1c0,0,8.8-8.1,32.2-8.1s31.2,8.1,31.2,8.1" />
        </g>
    </symbol>

    <symbol id="campus-icon--highland-square" viewbox="0 0 113.8 113.8">
        <g id="XMLID_346_">
            <circle id="XMLID_345_" class="st2 outter-circle" cx="56.9" cy="56.9" r="55" />
            <polyline id="XMLID_476_" class="st1" points="87.9,48.6 101.7,48.6 101.7,78.8 96.8,78.8 	" />
            <rect id="XMLID_491_" x="70.3" y="72" class="st1" width="3" height="8.7" />
            <rect id="XMLID_490_" x="63.2" y="72" class="st1" width="3" height="8.7" />
            <line id="XMLID_489_" class="st0" x1="70.3" y1="77" x2="73.2" y2="77" />
            <line id="XMLID_488_" class="st0" x1="63.2" y1="77" x2="66.1" y2="77" />
            <line id="XMLID_517_" class="st0" x1="88.9" y1="81.3" x2="88.9" y2="52.6" />
            <line id="XMLID_518_" class="st0" x1="96" y1="76.4" x2="84.7" y2="76.4" />
            <line id="XMLID_519_" class="st0" x1="93.8" y1="68.8" x2="84.7" y2="68.8" />
            <line id="XMLID_520_" class="st0" x1="91.6" y1="61.2" x2="84.7" y2="61.2" />
            <line id="XMLID_521_" class="st0" x1="89.3" y1="53.6" x2="84.7" y2="53.6" />
            <line id="XMLID_522_" class="st0" x1="87.2" y1="46" x2="82.2" y2="46" />
            <line id="XMLID_508_" class="st0" x1="35.4" y1="31.8" x2="35.4" y2="44.5" />
            <line id="XMLID_507_" class="st0" x1="25.3" y1="40.7" x2="45.1" y2="40.7" />
            <line id="XMLID_509_" class="st0" x1="20.4" y1="35.3" x2="50" y2="35.3" />
            <line id="XMLID_510_" class="st0" x1="25.3" y1="37.6" x2="25.3" y2="31.8" />
            <line id="XMLID_511_" class="st0" x1="45.1" y1="37.6" x2="45.1" y2="31.8" />
            <polyline id="XMLID_478_" class="st1" points="84.7,81.3 84.7,83.3 51.6,83.3 51.6,47.6 84.7,47.6 84.7,81.3 97.4,81.3 84.7,37.6 81.8,47.6 	" />
            <line id="XMLID_505_" class="st0" x1="35.4" y1="50.2" x2="35.4" y2="61.7" />
            <polyline id="XMLID_477_" class="st1" points="51.6,83.3 51.6,86.1 18.8,86.1 18.8,37.6 25.3,37.6 25.3,44.5 45.1,44.5 45.1,37.6 51.6,37.6 51.6,47.6 	" />
            <polyline id="XMLID_479_" class="st1" points="50,37.6 50,31.8 20.4,31.8 20.4,37.6 	" />
            <line id="XMLID_506_" class="st0" x1="25.3" y1="57.8" x2="45.1" y2="57.8" />
            <rect id="XMLID_339_" x="16.9" y="29.5" class="st1" width="36.7" height="2.4" />
            <rect id="XMLID_483_" x="21.3" y="66.8" class="st1" width="28.1" height="2.4" />
            <polygon id="XMLID_480_" class="st1" points="25.3,50.2 25.3,61.7 45,61.7 45.1,50.2 	" />
            <polygon id="XMLID_482_" class="st1" points="25.3,69.1 25.3,86.1 45,86.1 45.1,69.1 	" />
            <rect id="XMLID_481_" x="51.6" y="57.8" class="st1" width="33.1" height="1.6" />
            <rect id="XMLID_515_" x="1.9" y="57.8" class="st1" width="16.9" height="1.6" />
            <polygon id="XMLID_485_" class="st1" points="90.7,58.1 101.7,58.1 101.7,59.8 91.1,59.8 	" />
            <line id="XMLID_486_" class="st1" x1="101.7" y1="74.6" x2="95.5" y2="74.6" />
            <line id="XMLID_487_" class="st1" x1="84.7" y1="78.4" x2="75.8" y2="78.4" />
            <line id="XMLID_494_" class="st1" x1="60.6" y1="78.4" x2="51.6" y2="78.4" />
            <line id="XMLID_516_" class="st1" x1="18.8" y1="78.4" x2="5.6" y2="78.4" />
            <line id="XMLID_501_" class="st1" x1="51.6" y1="73.3" x2="45.1" y2="73.3" />
            <line id="XMLID_502_" class="st1" x1="25.3" y1="73.3" x2="18.8" y2="73.3" />
            <polyline id="XMLID_492_" class="st1" points="61.1,83.3 61.1,70.4 75.3,70.4 75.3,83.3 	" />
            <line id="XMLID_493_" class="st1" x1="68.2" y1="70.4" x2="68.2" y2="83.3" />
            <rect id="XMLID_500_" x="37.4" y="74.9" class="st1" width="3" height="8.7" />
            <rect id="XMLID_499_" x="30.4" y="74.9" class="st1" width="3" height="8.7" />
            <line id="XMLID_498_" class="st0" x1="37.4" y1="79.9" x2="40.4" y2="79.9" />
            <line id="XMLID_497_" class="st0" x1="30.4" y1="79.9" x2="33.3" y2="79.9" />
            <polyline id="XMLID_496_" class="st1" points="28.3,86.1 28.3,73.3 42.5,73.3 42.5,86.1 	" />
            <line id="XMLID_495_" class="st1" x1="35.4" y1="69.1" x2="35.4" y2="86.1" />
            <line id="XMLID_503_" class="st1" x1="42.5" y1="73.3" x2="42.5" y2="69.1" />
            <line id="XMLID_504_" class="st1" x1="28.3" y1="73.3" x2="28.3" y2="69.1" />
            <line id="XMLID_512_" class="st1" x1="18.8" y1="47.6" x2="3.3" y2="47.6" />
            <line id="XMLID_514_" class="st1" x1="18.8" y1="83.3" x2="8.6" y2="83.3" />
            <path id="XMLID_513_" class="st1" d="M18.3,96c0,0,10-2.8,24.2-2.8c11.6,0,33.3,1.9,46.8,8.1" />
            <line id="XMLID_524_" class="st1" x1="101.7" y1="71.2" x2="110" y2="71.2" />
        </g>
    </symbol>
</svg>
