    <div class="grid__item one-fifth">
        <a class="facebook-icon" data-type="social-share" data-service="facebook" href="#"><!--
         --><i class="fa fa-facebook fa-2x"></i><!--
     --></a>
    </div><!--

 --><div class="grid__item one-fifth">
        <a class="twitter-icon" data-type="social-share" data-service="twitter" href="#"><!--
         --><i class="fa fa-twitter fa-2x"></i><!--
     --></a>
    </div><!--

 --><div class="grid__item one-fifth">
        <a class="pinterest-icon" data-type="social-share" data-service="pinterest" href="#"><!--
         --><i class="fa fa-pinterest fa-2x"></i><!--
     --></a>
    </div><!--

 --><div class="grid__item one-fifth">
        <a class="google-plus-icon" data-type="social-share" data-service="google+" href="#"><!--
         --><i class="fa fa-google-plus fa-2x"></i><!--
     --></a>
    </div><!--

 --><div class="grid__item one-fifth">
        <a class="email-icon" data-type="social-share" data-service="email" href="#"><!--
         --><i class="fa fa-envelope fa-2x"></i><!--
     --></a>
</div>

<script>
    $(document).ready(function () {
        CCChapel.setupSocialSharing();
    });
</script>