//Sizes
.height--extra-small {
    height: $height-extra-small !important;
}

.height--small {
    height: $height-small !important;
}

.height--medium {
    height: $height-medium !important;
}

.height--large {
    height: $height-large !important;
}

.height--extra-large {
    height: $height-extra-large !important;
}

//Palm Sizes
.height--palm--extra-small {
    @include grid-media-query("palm") {
        height: $height-extra-small !important;
    }
}

.height--palm--small {
    @include grid-media-query("palm") {
        height: $height-small !important;
    }
}

.height--palm--medium {
    @include grid-media-query("palm") {
        height: $height-medium !important;
    }
}

.height--palm--large {
    @include grid-media-query("palm") {
        height: $height-large !important;
    }
}

.height--palm--extra-large {
    @include grid-media-query("palm") {
        height: $height-extra-large !important;
    }
}

//Hide Elements
.hidden {
    display: none;
}

.palm--hide
{
    @include grid-media-query("palm")
    {
        display: none;
    }
}

.lap--hide
{
    @include grid-media-query("lap")
    {
        display: none;
    }
}

.portable--hide
{
    @include grid-media-query("portable")
    {
        display: none;
    }
}

.desk--hide
{
    @include grid-media-query("desk")
    {
        display: none;
    }
}

&.palm--auto-height {
    @include grid-media-query("palm") {
        height: auto !important;
    }
}

//Control scrolling
.hide-overflow {
    overflow: hidden;
    height: 100vh;
}

//Blur
.blur {
    filter: url("http://staff.ccchapel.com/CMSTemplates/_CCC/_Assets/svg/blur.svg#blur");
    -webkit-filter: blur(5px);
    filter: blur(5px);
}