//Hide Elements
.hidden {
    display: none;
}

.palm--hide
{
    @include grid-media-query("palm")
    {
        display: none;
    }
}

.lap--hide
{
    @include grid-media-query("lap")
    {
        display: none;
    }
}

.portable--hide
{
    @include grid-media-query("portable")
    {
        display: none;
    }
}

.desk--hide
{
    @include grid-media-query("desk")
    {
        display: none;
    }
}

//Control scrolling
.hide-overflow {
    overflow: hidden;
    height: 100vh;
}

//Blur
.blur {
    filter: url("http://staff.ccchapel.com/CMSTemplates/_CCC/_Assets/svg/blur.svg#blur");
    -webkit-filter: blur(5px);
    filter: blur(5px);
}