html
{
    font-family: $sans-serif-fonts;
    color: $black;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

body
{
    width: auto;
    margin: 0 auto;
    line-height: 1.5em;

    -webkit-font-smoothing: antialiased;
    
    &.locked {
        // height: 100vh;
        overflow: hidden;
    }
}

.grid {
    height: 100%;
    min-height: inherit;
}

.lock-position {
    // Hack to stop iOS Scrolling
    position: fixed;
    overflow: hidden;
    
    height: 100vh;
    width: 100vw;
}

.palm--padding {
    padding-left: 1em;
    padding-right: 1em;

    @include grid-media-query("desk") {
        padding-left: 0;
        padding-right: 0;
    }
}