@using CMS.DocumentEngine.Types

@model StaffTeam

@{
    Layout = "~/Views/_Default.cshtml";
    ViewBag.PageTitle = "Staff";
}

<div class="[ content-section transparent ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="content-wrapper">
            <div class="header-image__title">Staff</div>
        </div>

        <div class="justify-content palm--stack add-bottom-margin">
            <div class="section-title left-justify palm--add-bottom-margin">@Model.TeamName</div>

            <div class="right-justify">
                <div class="justify-content use-gutter palm--stack">
                    <div class="left-justify">Select a team:</div>

                    <div class="css3-metro-dropdown auto palm--full">
                        <select id="teamSelection">
                            @{
                                var teams = StaffTeamProvider.GetStaffTeams().Published();

                                foreach (var team in teams)
                                {
                                    <option value="@team.RouteUrl">
                                        @team.TeamName
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="grid">
            <!--
            @{
                foreach (var member in Model.TeamMembers)
                {
                    Html.RenderPartial("_GridItem", member);
                }
            }
            -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var select = "#teamSelection";

        $(document).ready(function () {
            //Setup Initial Value
            $(select).val("@Model.RouteUrl");

            $(select).change(function () {
                window.location = $(this).val();
            });
        });
    </script>
}