//**************************************************
// INPUT
//**************************************************/
@mixin input-control-defaults {
    @include form-control-defaults;

    font-size: $typecsset-base-font-size;
    
    height: 2.5em;
}

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
//input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"] {
    @include input-control-defaults;

    width: 90%;

    &.one-whole {
        width: 100%;
    }
}

input[type="search"] {
    -webkit-appearance: none;

    background-color: transparent;
    border: none;

    padding-left: 5rem;

    width: 100%;

    @include typecsset-font-size($primary-headline-size, false);
    line-height: 1.25;

    color: #FFF;
    font-weight: 300;

    @include grid-media-query("portable") {
        @include typecsset-font-size($tertiary-headline-size, false);
        line-height: 1.25;

        padding-left: 2rem;
    }

    @mixin search--placeholder-defaults {
        color: $dark-gray;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 300;
    }

    /* Safari, Chrome and Opera */
    &::-webkit-input-placeholder {
        @include search--placeholder-defaults;
    }

    /* Firefox 18- */
    &:-moz-placeholder {
        @include search--placeholder-defaults;
    }

    /* Firefox 19+ */
    &::-moz-placeholder {
        @include search--placeholder-defaults;
    }

    /* IE 10+ */
    &:-ms-input-placeholder {
        @include search--placeholder-defaults;
    }

    /* Edge */
    &::-ms-input-placeholder {
        @include search--placeholder-defaults;
    }

    /* Default Usage */
    &:placeholder-shown {
        @include search--placeholder-defaults;
    }
}

input[type="button"] {
    @include input-control-defaults;

    cursor: pointer;
        
    font-family: $sans-serif-fonts;
        
    -webkit-appearance: none;
}

input[type="checkbox"]:not(.fsField) {
    display: none;

    & + label {
        position: relative;
        cursor: pointer;

        color: $blue;
        transition: color $transition-length $transition-function;

        &:hover {
            color: $light-blue;
        }
    
        &:before {
            //.fa
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            //font-size-adjust: 1;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            //.fa-square-o:before 
            content: "\f096";

            position: absolute;
            top: 2px;
            left: -1.25em;
        }
    }


    &:checked + label:before {
        //.fa-check-square-o:before
        content: "\f046";
    }
}
