blockquote {
    @include typecsset-font-size(48px, false);
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    
    quotes: "\201C" "\201D" "\2018" "\2019";
    
    margin-left: 0;
    text-indent: 0;
    
//    &:before {
//        content: open-quote;
//    }
    
    /*&:after {
        content: "\2013\00a0" attr(cite);
        display: block;
        
        font-weight: normal;
        text-indent: 0;
    }*/
    
    /*&.no-cite:after {
        content: none;
    }*/
    
    @include grid-media-query("palm") {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .accent {
        @include typecsset-font-size($secondary-headline-size);
    }
}