.profile-photo {
    background: $blue;
    
    height: 12rem;
}

.#{$ns-image}-fit-grid--small {
    width: 60%;
    object-fit: contain;
}

.#{$ns-image}-fit-grid {
    //max-height: 85%;
    //max-width: 85%

    //height: 85%;
    width: 85%;

    object-fit: contain;
}

.#{$ns-image}-fit-grid--max {
    //max-height: 100%;
    //max-width: 100%;

    width: 100%;
    object-fit: contain;
}

.#{$ns-image}-square {
    //max-height: 100%;
    //max-width:  100%;

    height: 100%;
    width: 100%;

    object-fit: contain;
}

.#{$ns-image}-contain {
    object-fit: contain;
    
    height: 100%;
    width: 100%;

    &.one-half {
        width: 50%;
    }
}

.#{$ns-image}-cover {
    object-fit: cover;
    
    height: 100%;
    width: 100%;
}


.#{$ns-image}-size--horizontal {
    padding: 1.5rem;
}

.campus-icon {
    .st0 {
        fill:none;
        stroke:#FFFFFF;
        stroke-width:0.75;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
    }

	.st1 {
        fill:none;
        stroke:#363636;
        stroke-width:0.75;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
	}

	.st2 {
        fill:none;
        stroke:#363636;
        stroke-width:2;
        stroke-miterlimit:10;
	}

    &.dark-blue {
        .st1,
        .st2 {
            stroke: $dark-blue;
        }
    }

    &.white {
        .st0,
        .st1,
        .st2 {
            stroke: #FFF;
        }
    }

    &.fill--white {
        .outter-circle {
            fill: #FFF;
        }

        .st0 {
            stroke: #363636;
        }
    }
}