.profile-photo {
    background: $blue;
    
    height: 12rem;
}

.#{$ns-image}-fit-grid--small {
    width: 60%;
    object-fit: contain;
}

.#{$ns-image}-fit-grid {
    //max-height: 85%;
    //max-width: 85%

    //height: 85%;
    width: 85%;

    object-fit: contain;
}

.#{$ns-image}-fit-grid--max {
    //max-height: 100%;
    //max-width: 100%;

    width: 100%;
    object-fit: contain;
}

.#{$ns-image}-square {
    //max-height: 100%;
    //max-width:  100%;

    height: 100%;
    width: 100%;

    object-fit: contain;
}

.#{$ns-image}-contain {
    object-fit: contain;
    
    height: 100%;
    width: 100%;

    &.one-half {
        width: 50%;
    }
}

.#{$ns-image}-cover {
    object-fit: cover;
    
    height: 100%;
    width: 100%;
}


.#{$ns-image}-size--horizontal {
    padding: 1.5rem;
}