ul {
    list-style: square;
    list-style-position: inside;

    margin-left: 0;
}

li {
    margin-left: 1rem;
    text-indent: -1rem;
}

.horizontal-list {
    margin-bottom: 0;
    margin-left: 0;

    & > * {
        display: inline-block;
        
        &:after {
            content: '|';
            padding: 0 10px;
            color: currentColor;
        }

        &:last-child:after {
            content: '';
            padding: 0;
        }
    }
    
    &.black > * {
        color: $black !important;
    }

    &.white > * {
        color: #FFF !important;
    }
    
    &.palm--vertical {
        @include grid-media-query("palm") {
            & > * {
                display: block !important;
                position: relative !important;
                padding: .5em 0 !important;

                &:after {
                    //border-bottom: 1px solid inherit !important;
                    border-bottom-width: 1px;
                    border-bottom-style: solid;

                    content: "" !important;
                    position: absolute !important;
                    left: 10% !important;
                    bottom: 0 !important;

                    height: 1px !important;
                    width: 80% !important;
                }

                &:last-child:after {
                    border-bottom: none !important;
                }
            }
        }
    }

    &.no-marker {
        & > * {
            padding: 0 !important;
            
            &:after {
                display: none;
            }
        }
    }

    &.palm--no-marker {
        @include grid-media-query("palm") {
            & > * {
                padding: 0 !important;

                &:after {
                    display: none;
                }
            }
        }
    }
}