//**************************************************
// CROSS SELL
//**************************************************/
.cross-sell {
    &__item {
        margin-bottom: $magic-number;

        a {
            color: currentColor;
        }
    }

    &__image {
        background: $medium-gray center bottom/cover no-repeat scroll;

        margin-bottom: $bottom-margin;
        padding: 10px;

        height: 10rem;
        height: 30vmin;

        @include grid-media-query("palm") {
            height: 45vmin;
        }

        @include typecsset-font-size(48px, false);

        /*@include grid-media-query("lap") {
            height: 15rem;
        }*/

        /*&.light {
            color: #FFF;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }

        &.dark {
            color: $charcoal;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);

            a {
                color: $charcoal;

                &:hover {
                    color: $blue;
                }
            }
        }*/

        //Fix Play Overlay Spacing
        span.fa-stack {
            i:last-child {
                margin-left: 7px;
            }
        }
    }

    &__name {
        @include typecsset-font-size($tertiary-headline-size);
        font-weight: bold;
    }

    &__details {
        font-weight: normal !important;

        @include grid-media-query("palm") {
            border-bottom: $dark-blue 1pt solid;
            padding-bottom: $magic-number;

            .cross-sell__item:last-child & {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
}