.fsSubFieldGroup {
    input {
        width: 100%;
    }
}

div.fsSubField {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
}

div.fsSubField:first-child {
    padding-left: 0;
}

div.fsSubField:last-child {
    padding-left: $gutter / 2;
    padding-right: 0;
}