.fsBody .fsForm input[type=text].fsField,
//.fsBody .fsForm input[type=file].fsField,
.fsBody .fsForm input[type=number].fsField,
.fsBody .fsForm input[type=email].fsField,
.fsBody .fsForm input[type=tel].fsField,
.fsBody .fsForm textarea.fsField,
.fsBody .fsForm select.fsField,
.fsBody .fsForm input[type=text].fsRequired,
//.fsBody .fsForm input[type=file].fsRequired,
.fsBody .fsForm input[type=number].fsRequired,
.fsBody .fsForm input[type=email].fsRequired,
.fsBody .fsForm input[type=tel].fsRequired,
.fsBody .fsForm textarea.fsRequired,
.fsBody .fsForm select.fsRequired {
    border: 1px solid $charcoal;
}

.fsSubFieldGroup {
    input {
        width: 100%;
    }
}

div.fsSubField {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;

    @include grid-media-query("palm") {
        padding-left: 0;
        padding-right: 0;
    }
}

div.fsSubField:first-child {
    padding-left: 0;
}

div.fsSubField:last-child {
    padding-left: $gutter / 2;
    padding-right: 0;

    @include grid-media-query("palm") {
        padding-left: 0;
    }
}

.fsCurrency {
    display: inline-flex;
    //width: 1%;

    //@include grid-media-query("palm") {
        //width: 5%;
    //}

    & + input {
        display: inline-flex;
    }
}

input + span:empty {
    display: none;
}

input[type=number] {
    width: auto;
}