.fsSubFieldGroup {
    input {
        width: 100%;
    }
}

div.fsSubField:first-child {
    input:not(".fsFieldCity") {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

div.fsSubField:last-child {
    input:not(".fsFieldZip") {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}