/* SECTIONS */
.fsSectionHeader {
    margin: 0 !important;
    background: none !important;
}

.fsBody .fsForm .fsSectionHeading {
    font-family: inherit;
    font-size: 22px;
    font-weight: inherit;
    line-height: 24px;
    color: #3C617A;
}